//给项目提供scss全局变量
//定义项目主题颜色等
$base-menu-width:260px; //侧边栏宽度
$base-menu-background:#001529; //侧边栏背景色
$base-menu-min-width:50px; //（折叠展开）展开的最小宽度
$base-tabbar-height:50px; //导航栏高度
$base-menu-logo-height:50px; //Logo高度
$base-logo-title-fontSize:20px; //左侧标题大小